<!DOCTYPE html>

<div    id="f1"
        style="position:absolute;top:0;left:0"
        class="btn btn-lg"
        ng-show="diskIsFront"
        ng-click="diskToggleFront()">
    <i class="glyphicon glyphicon-info-sign"></i>
</div>
<div    id="f2"
        style="position:absolute;top:0;left:0"
        class="btn btn-lg"
        ng-hide="diskIsFront"
        ng-click="diskToggleFront()">
    <i class="glyphicon glyphicon-ok-sign"></i>
</div>

log:{{diskRotateLog}} - {{diskDeg1}} - {{diskDeg2}} - {{diskDeg3}}
<!--

    hm-swipe="diskToggleFront($event)"
    hm-pinch="diskPinch($event)"
-->
<div id="wrap">
    <div class="front" ng-show="diskIsFront">
        <div id="wheel1" hm-rotate="diskRotate(1,$event)" style="-webkit-transform:rotate({{diskDeg1}}deg)"></div>
        <div id="wheel2" hm-rotate="diskRotate(2,$event)" style="-webkit-transform:rotate({{diskDeg2}}deg)"></div>
        <div id="wheelA" hm-rotate="diskRotate(3,$event)" style="-webkit-transform:rotate({{diskDeg3}}deg)"></div>
    </div>
    <div class="back" ng-hide="diskIsFront"></div>
    <!--<div id="mainFunction">
    </div>-->
</div>


<!--
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
            <div class="row">

                <div class="col-2" >
                </div>
                <div class="col-8" style="text-align: center;">
                    <a id="lock"><i class="icon-lock icon-2x" style="padding: 6px;"></i></a>
                    <a id="unlock"><i class="icon-unlock icon-2x" style="padding: 6px;"></i></a>

                </div>
                <div class="col-2" style="text-align: right;">
                    <a id="help" href="#helpModal" data-target="#helpModal" data-toggle="modal" data-backdrop="true">
                        <i class="icon-question-sign icon-2x" style="padding: 6px;"></i>
                    </a>
                </div>



            </div>
    </div>
</div>
-->
