<!DOCTYPE html>


<nav style="position:absolute;top:0;left:0">
  <a class="btn"
    ng-show="diskIsFront"
    ng-click="diskToggleFront()">
      <i class="glyphicon glyphicon-info-sign"></i>
  </a>
  <a class="btn"
    ng-hide="diskIsFront"
    ng-click="diskToggleFront()">
      <i class="glyphicon glyphicon-arrow-left"></i>
  </a>
</nav>


<div ng-switch="navigIsLocked()">
  <div ng-switch-default
      class="wrap"
      style="-webkit-transform:scale({{diskZoom}},{{diskZoom}})">
      <div  class="front">
              <div class="wheel1" nati-turn hm-dragend="diskRotateEnd(1,$event)" style="-webkit-transform:rotate3d(0,0,1,{{diskDeg1}}deg)"></div>
              <div class="wheel2" nati-turn hm-dragend="diskRotateEnd(2,$event)" style="-webkit-transform:rotate3d(0,0,1,{{diskDeg2}}deg)"></div>
              <div class="wheelA" nati-turn hm-dragend="diskRotateEnd(3,$event)" style="-webkit-transform:rotate3d(0,0,1,{{diskDeg3}}deg)"></div>
      </div>
  </div>

  <div ng-switch-when="true"
      class="wrap"
      style="-webkit-transform:scale({{diskZoom}},{{diskZoom}})"

      hm-pinch="diskPinch($event)"> <!-- hm-swipe="diskToggleFront($event)"-->
      <div  class="front"
            ng-show="diskIsFront"
            nati-turn>
              <div class="wheel1" style="-webkit-transform:rotate3d(0,0,1,{{diskDeg1}}deg)"></div>
              <div class="wheel2" style="-webkit-transform:rotate3d(0,0,1,{{diskDeg2}}deg)"></div>
              <div class="wheelA" style="-webkit-transform:rotate3d(0,0,1,{{diskDeg3}}deg)"></div>
      </div>
      <div class="back" ng-hide="diskIsFront"></div>
    </div>
    <!--<div id="mainFunction">
    </div>-->
</div>
