<!DOCTYPE html>

<div    id="f1"
        style="position:absolute;top:20px;left:20px">
    <i class="icon-reply icon-2x"></i>
</div>
<div    id="f2"
        style="position:absolute;top:20px;left:20px; display:none">
    <i class="icon-share-alt icon-2x"></i>
</div>

<div id="wrap">
    <div class="front">
        <div id="wheel1"></div>
        <div id="wheel2"></div>
        <div id="wheelA"></div>
    </div>
    <div class="back">
    </div>
    <div id="mainFunction">
    </div>
</div>


<!--
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
            <div class="row">

                <div class="col-2" >
                </div>
                <div class="col-8" style="text-align: center;">
                    <a id="lock"><i class="icon-lock icon-2x" style="padding: 6px;"></i></a>
                    <a id="unlock"><i class="icon-unlock icon-2x" style="padding: 6px;"></i></a>

                </div>
                <div class="col-2" style="text-align: right;">
                    <a id="help" href="#helpModal" data-target="#helpModal" data-toggle="modal" data-backdrop="true">
                        <i class="icon-question-sign icon-2x" style="padding: 6px;"></i>
                    </a>
                </div>



            </div>
    </div>
</div>
-->
