<?xml version='1.0' encoding='utf-8'?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:cdv   = "http://cordova.apache.org/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id          = "com.apps4pro.sauvane"
    version     = "140323"  
    versionCode = "140323">
    
    <name>NatiWheel</name>
    <description>
        NatiWheel
    </description>
    <author email="contact@sauvane.com" href="http://www.sauvane.com">
        Sauvane
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    
    <preference name="phonegap-version" value="3.3.0" />
    <preference name="loglevel" value="VERBOSE" />


    <!-- iOS allows registration of custom URL Schemes. <gap:url-scheme>  -->
    <gap:url-scheme name="com.apps4pro.sauvane" role="None">
      <scheme>pgbr</scheme>
      <scheme>pgbw</scheme>
    </gap:url-scheme>
   
    <!--    officials 
            http://docs.build.phonegap.com/en_US/3.3.0/configuring_preferences.md.html#Preferences 
    -->
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="false" />

    <preference name="ios-statusbarstyle" value="black-translucent" />
    <preference name="prerendered-icon" value="false" />

    <preference name="detect-data-types" value="true" />
    <preference name="splash-screen-duration" value="5000" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="internalOnly" />
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />


    <!--    unofficials - test ?
            http://docs.phonegap.com/en/edge/guide_platforms_ios_config.md.html#iOS%20Configuration) 
            http://docs.phonegap.com/en/edge/guide_platforms_android_config.md.html#Android%20Configuration
    -->
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="windowSoftInputMode" value="stateVisible|adjustResize" />
    <preference name="stay-in-webview" value="true" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="KeepRunning" value="true"/>

    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="SuppressesIncrementalRendering" value="true" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="ErrorUrl" value=""/>
    <preference name="BackgroundColor" value="0x00000000"/>
    <preference name="LoadingDialog" value=","/> 
    <preference name="LoadUrlTimeoutValue" value="50000" />
    <preference name="disable-cursor" value="true" />
    <preference name="InAppBrowserStorageEnabled" value="true"/>
    <preference name="GapBetweenPages" value="0"/>
    <preference name="PageLength" value="0"/>
    <preference name="PaginationBreakingMode" value="page"/>
    <preference name="UIWebViewDecelerationSpeed" value="fast" />


    <!-- C4P_BUILD_PLUGINS -->

    <!-- Icons -->
    <icon gap:platform="android" gap:density="ldpi" src="mobile_res/android/drawable-ldpi/icon.png" />
    <icon gap:platform="android" gap:density="mdpi" src="mobile_res/android/drawable-mdpi/icon.png" />
    <icon gap:platform="android" gap:density="hdpi" src="mobile_res/android/drawable-hdpi/icon.png" />
    <icon gap:platform="android" gap:density="xhdpi" src="mobile_res/android/drawable-xhdpi/icon.png" />
    <gap:splash gap:platform="android" gap:density="ldpi" src="mobile_res/android/drawable-ldpi/splash.png" />
    <gap:splash gap:platform="android" gap:density="mdpi" src="mobile_res/android/drawable-mdpi/splash.png" />
    <gap:splash gap:platform="android" gap:density="hdpi" src="mobile_res/android/drawable-hdpi/splash.png" />
    <gap:splash gap:platform="android" gap:density="xhdpi" src="mobile_res/android/drawable-xhdpi/splash.png" />

    <icon gap:platform="ios" src="mobile_res/ios/icons/icon-50.png" width="50" height="50" />
    <icon gap:platform="ios" src="mobile_res/ios/icons/icon-72.png" width="72" height="72" />
    <icon gap:platform="ios" src="mobile_res/ios/icons/icon-50@2x.png" width="100" height="100" />
    <icon gap:platform="ios" src="mobile_res/ios/icons/icon-72@2x.png" width="144" height="144" />
    <gap:splash gap:platform="ios" src="mobile_res/ios/splash/Default~iphone.png" width="320" height="480" />
    <gap:splash gap:platform="ios" src="mobile_res/ios/splash/Default@2x~iphone.png" width="640" height="960" />
    <gap:splash gap:platform="ios" src="mobile_res/ios/splash/Default-Portrait~ipad.png" width="768" height="1004" />
    <gap:splash gap:platform="ios" src="mobile_res/ios/splash/Default-Landscape~ipad.png" width="1024" height="748" />


    <icon gap:platform="winphone" src="mobile_res/winphone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="mobile_res/winphone/icon-173.png" />
    <gap:splash gap:platform="winphone" src="mobile_res/winphone/screen-portrait.jpg" />

<!--
    <icon gap:platform="webos" src="mobile_res/webos/icon-64.png" />
    <icon gap:platform="blackberry" src="mobile_res/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" src="mobile_res/blackberry/icon-80.png" gap:state="hover" />
    <gap:splash gap:platform="blackberry" src="mobile_res/blackberry/screen-225.png" />
-->

    <!-- Main -->
    <content src="index.html" />
    <access origin="*" />

</widget>
