<!DOCTYPE html>
<html lang="en" ng-app="myNatiApp" class="no-js">
<head>
    <title>NatiWheel</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="author" content="Sauvane">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap_me.css">-->
    <link rel="stylesheet" type="text/css" href="css/natiwheel.css">
    <link id="natistyle" rel="stylesheet" type="text/css" href="css/natiwheel_fr_acidule.css">

    <script language="javascript">
    var blockMove = function (e) {
            if (e.preventDefault) e.preventDefault() ;
     }
    </script>
</head>
<body ng-controller="CtrlNavigation" onscroll="blockMove(e)" ontouchmove="blockMove(e)">

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->



  <div ng-view></div>



  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <ul class="nav nav-pills nav-justified">
          <li><a>&nbsp;</a></li>
          <li>
              <a class="btn" ng-show="navigIsLocked" ng-click="navigToggleLock()"><i class="glyphicon glyphicon-play"></i></a>
              <a class="btn" ng-hide="navigIsLocked" ng-click="navigToggleLock()"><i class="glyphicon glyphicon-stop"></i></a>
          </li>
          <li>
              <a href="#/help"><i class="glyphicon glyphicon-question-sign"></i></a>
          </li>
      </ul>
    </div>
  </nav>


  <!-- App JS -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-gestures/gestures.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

</body>
</html>
