

.wheel1 {
    background:url(../img/fr_pastel_recto_grand_1200x1200.jpg) 50% 50% no-repeat;
}

.wheel2 {
    background:url(../img/fr_pastel_recto_petit_960x960.png) 50% 50% no-repeat;
}

.wheelA {
    background:url(../img/wheel_a_680x680.png) 50% 50% no-repeat;
}

.back {
    background:url(../img/fr_pastel_verso_1200x1200.jpg) 50% 50% no-repeat;
}
